/*
mrt/
!aliases
!apt/
!colortail/
!cron.d/
!default/
!default/locale
!group
!passwd
!hosts
!iproute2/
!ntp.conf
!postfix
!resolv.conf
!screenrc
!scripts/
!ssh/
!ssh/sshd_config
!sshguard/
!systemd/
!teamd.conf
!udev/
!vim/
!extra_exercises
!system/
!systemd/system/
!systemd/system/ladvd.service
!sshguard/
!sudoers
!.gitignore
!bind/
bind/zones
bind/named.conf.mrt-zones
!apache2/
